<!DOCTYPE html>
<html>
  <head>
       <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/adminHead %>
    <div class="container bodyContainer">
          <a href="/candidates/create" class="btn btn-success"> Create Candidate </a>

          <table class="table">
          <thead>
            <tr>
              <th>Candidate</th>
              <th>Candidate Type</th>
              <th>Address</th>
              <th>Party</th>
            </tr>
          </thead>
          <tbody>
              <%  for( var i= 0; i< candidates.length; i++){ %>
            <tr>

                <td><%= candidates[i].name%></td>
                <td><%= candidates[i].type%></td>
                <td><%= candidates[i].address%></td>
                <td><%= candidates[i].party%></td>
                <td><a class="btn btn-primary" href="/candidates/edit/<%= candidates[i].id%>">Edit</a></td>
                <td><button class="btn btn-danger deleteCandidate"  value="<%= candidates[i].id%>">Delete</button></td>
            </tr>
              <% } %>

          </tbody>
        </table>
    </div>
  <% include ../partials/footer %>
  </body>
</html>
