<!DOCTYPE html>
<html>
  <head>
  <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container bodyContainer">
      <div class="col-6 touchdown">
      <h2> Election Results </h2>
      <%if(elections.length == 0) {%>
            <h5>Nothing to show</h5>
        <%}%>

    <% for(var i=0; i< elections.length; i++) {%>
          <div class="elections">
            <h3> <%= elections[i].electionName  %> </h3>
            <span>Election Type: <%= elections[i].electionType  %></span><br>
            <span>Date : <%= elections[i].electionDate  %></span><br>
            <div>

              <% if(elections[i].electionType =='Presidential') {%>
              <a class="btn btn-primary"  href="/users/results/<%= elections[i]._id %>" >See results</a>
              <%} else {%>
              <a href="/users/parli_results/<%=elections[i].id %>" class="btn btn-primary">See results</a>
              <% } %>
            </div>
          </div>
      <% } %>
    </div>
  </div>
      <% include ../partials/footer %>
  </body>

</html>
